# Project exclude paths
/node_modules/
/questions/2-medium-return-type/template.js
/questions/2-medium-return-type/test-cases.js
/questions/3-medium-omit/template.js
/questions/3-medium-omit/test-cases.js
/questions/4-easy-pick/template.js
/questions/4-easy-pick/test-cases.js
/questions/5-extreme-readonly-keys/template.js
/questions/5-extreme-readonly-keys/test-cases.js
/questions/6-hard-simple-vue/template.js
/questions/6-hard-simple-vue/test-cases.js
/questions/7-easy-readonly/template.js
/questions/7-easy-readonly/test-cases.js
/questions/8-medium-readonly-2/template.js
/questions/8-medium-readonly-2/test-cases.js
/questions/9-medium-deep-readonly/template.js
/questions/9-medium-deep-readonly/test-cases.js
/questions/10-medium-tuple-to-union/template.js
/questions/10-medium-tuple-to-union/test-cases.js
/questions/11-easy-tuple-to-object/template.js
/questions/11-easy-tuple-to-object/test-cases.js
/questions/12-medium-chainable-options/template.js
/questions/12-medium-chainable-options/test-cases.js
/questions/13-warm-hello-world/template.js
/questions/13-warm-hello-world/test-cases.js
/questions/14-easy-first/template.js
/questions/14-easy-first/test-cases.js
/questions/15-medium-last/template.js
/questions/15-medium-last/test-cases.js
/questions/16-medium-pop/template.js
/questions/16-medium-pop/test-cases.js
/questions/17-hard-currying-1/template.js
/questions/17-hard-currying-1/test-cases.js
/questions/18-easy-tuple-length/template.js
/questions/18-easy-tuple-length/test-cases.js
/questions/20-medium-promise-all/template.js
/questions/20-medium-promise-all/test-cases.js
/questions/43-easy-exclude/template.js
/questions/43-easy-exclude/test-cases.js
/questions/55-hard-union-to-intersection/template.js
/questions/55-hard-union-to-intersection/test-cases.js
/questions/57-hard-get-required/template.js
/questions/57-hard-get-required/test-cases.js
/questions/59-hard-get-optional/template.js
/questions/59-hard-get-optional/test-cases.js
/questions/62-medium-type-lookup/template.js
/questions/62-medium-type-lookup/test-cases.js
/questions/89-hard-required-keys/template.js
/questions/89-hard-required-keys/test-cases.js
/questions/90-hard-optional-keys/template.js
/questions/90-hard-optional-keys/test-cases.js
/questions/106-medium-trimleft/template.js
/questions/106-medium-trimleft/test-cases.js
/questions/108-medium-trim/template.js
/questions/108-medium-trim/test-cases.js
/questions/110-medium-capitalize/template.js
/questions/110-medium-capitalize/test-cases.js
/questions/112-hard-capitalizewords/template.js
/questions/112-hard-capitalizewords/test-cases.js
/questions/114-hard-camelcase/template.js
/questions/114-hard-camelcase/test-cases.js
/questions/116-medium-replace/template.js
/questions/116-medium-replace/test-cases.js
/questions/119-medium-replaceall/template.js
/questions/119-medium-replaceall/test-cases.js
/questions/147-hard-c-printf-parser/template.js
/questions/147-hard-c-printf-parser/test-cases.js
/questions/151-extreme-query-string-parser/template.js
/questions/151-extreme-query-string-parser/test-cases.js
/questions/189-easy-awaited/template.js
/questions/189-easy-awaited/test-cases.js
/questions/191-medium-append-argument/template.js
/questions/191-medium-append-argument/test-cases.js
/questions/213-hard-vue-basic-props/template.js
/questions/213-hard-vue-basic-props/test-cases.js
/questions/216-extreme-slice/template.js
/questions/216-extreme-slice/test-cases.js
/questions/223-hard-isany/template.js
/questions/223-hard-isany/test-cases.js
/questions/268-easy-if/template.js
/questions/268-easy-if/test-cases.js
/questions/270-hard-typed-get/template.js
/questions/270-hard-typed-get/test-cases.js
/questions/274-extreme-integers-comparator/template.js
/questions/274-extreme-integers-comparator/test-cases.js
/questions/296-medium-permutation/template.js
/questions/296-medium-permutation/test-cases.js
/questions/298-medium-length-of-string/template.js
/questions/298-medium-length-of-string/test-cases.js
/questions/300-hard-string-to-number/template.js
/questions/300-hard-string-to-number/test-cases.js
/questions/399-hard-tuple-filter/template.js
/questions/399-hard-tuple-filter/test-cases.js
/questions/459-medium-flatten/template.js
/questions/459-medium-flatten/test-cases.js
/questions/462-extreme-currying-2/template.js
/questions/462-extreme-currying-2/test-cases.js
/questions/472-hard-tuple-to-enum-object/template.js
/questions/472-hard-tuple-to-enum-object/test-cases.js
/questions/476-extreme-sum/template.js
/questions/476-extreme-sum/test-cases.js
/questions/517-extreme-multiply/template.js
/questions/517-extreme-multiply/test-cases.js
/questions/527-medium-append-to-object/template.js
/questions/527-medium-append-to-object/test-cases.js
/questions/529-medium-absolute/template.js
/questions/529-medium-absolute/test-cases.js
/questions/531-medium-string-to-union/template.js
/questions/531-medium-string-to-union/test-cases.js
/questions/533-easy-concat/template.js
/questions/533-easy-concat/test-cases.js
/questions/545-hard-printf/template.js
/questions/545-hard-printf/test-cases.js
/questions/553-hard-deep-object-to-unique/template.js
/questions/553-hard-deep-object-to-unique/test-cases.js
/questions/599-medium-merge/template.js
/questions/599-medium-merge/test-cases.js
/questions/610-medium-camelcase/template.js
/questions/610-medium-camelcase/test-cases.js
/questions/612-medium-kebabcase/template.js
/questions/612-medium-kebabcase/test-cases.js
/questions/645-medium-diff/template.js
/questions/645-medium-diff/test-cases.js
/questions/651-hard-length-of-string-2/template.js
/questions/651-hard-length-of-string-2/test-cases.js
/questions/697-extreme-tag/template.js
/questions/697-extreme-tag/test-cases.js
/questions/730-hard-union-to-tuple/template.js
/questions/730-hard-union-to-tuple/test-cases.js
/questions/734-extreme-inclusive-range/template.js
/questions/734-extreme-inclusive-range/test-cases.js
/questions/741-extreme-sort/template.js
/questions/741-extreme-sort/test-cases.js
/questions/847-hard-string-join/template.js
/questions/847-hard-string-join/test-cases.js
/questions/869-extreme-distributeunions/template.js
/questions/869-extreme-distributeunions/test-cases.js
/questions/898-easy-includes/template.js
/questions/898-easy-includes/test-cases.js
/questions/925-extreme-assert-array-index/template.js
/questions/925-extreme-assert-array-index/test-cases.js
/questions/949-medium-anyof/template.js
/questions/949-medium-anyof/test-cases.js
/questions/956-hard-deeppick/template.js
/questions/956-hard-deeppick/test-cases.js
/questions/1042-medium-isnever/template.js
/questions/1042-medium-isnever/test-cases.js
/questions/1097-medium-isunion/template.js
/questions/1097-medium-isunion/test-cases.js
/questions/1130-medium-replacekeys/template.js
/questions/1130-medium-replacekeys/test-cases.js
/questions/1290-hard-pinia/template.js
/questions/1290-hard-pinia/test-cases.js
/questions/1367-medium-remove-index-signature/template.js
/questions/1367-medium-remove-index-signature/test-cases.js
/questions/1383-hard-camelize/template.js
/questions/1383-hard-camelize/test-cases.js
/questions/1978-medium-percentage-parser/template.js
/questions/1978-medium-percentage-parser/test-cases.js
/questions/2059-hard-drop-string/template.js
/questions/2059-hard-drop-string/test-cases.js
/questions/2070-medium-drop-char/template.js
/questions/2070-medium-drop-char/test-cases.js
/questions/2257-medium-minusone/template.js
/questions/2257-medium-minusone/test-cases.js
/questions/2595-medium-pickbytype/template.js
/questions/2595-medium-pickbytype/test-cases.js
/questions/2688-medium-startswith/template.js
/questions/2688-medium-startswith/test-cases.js
/questions/2693-medium-endswith/template.js
/questions/2693-medium-endswith/test-cases.js
/questions/2757-medium-partialbykeys/template.js
/questions/2757-medium-partialbykeys/test-cases.js
/questions/2759-medium-requiredbykeys/template.js
/questions/2759-medium-requiredbykeys/test-cases.js
/questions/2793-medium-mutable/template.js
/questions/2793-medium-mutable/test-cases.js
/questions/2822-hard-split/template.js
/questions/2822-hard-split/test-cases.js
/questions/2828-hard-classpublickeys/template.js
/questions/2828-hard-classpublickeys/test-cases.js
/questions/2852-medium-omitbytype/template.js
/questions/2852-medium-omitbytype/test-cases.js
/questions/2857-hard-isrequiredkey/template.js
/questions/2857-hard-isrequiredkey/test-cases.js
/questions/2946-medium-objectentries/template.js
/questions/2946-medium-objectentries/test-cases.js
/questions/2949-hard-objectfromentries/template.js
/questions/2949-hard-objectfromentries/test-cases.js
/questions/3057-easy-push/template.js
/questions/3057-easy-push/test-cases.js
/questions/3060-easy-unshift/template.js
/questions/3060-easy-unshift/test-cases.js
/questions/3062-medium-shift/template.js
/questions/3062-medium-shift/test-cases.js
/questions/3188-medium-tuple-to-nested-object/template.js
/questions/3188-medium-tuple-to-nested-object/test-cases.js
/questions/3192-medium-reverse/template.js
/questions/3192-medium-reverse/test-cases.js
/questions/3196-medium-flip-arguments/template.js
/questions/3196-medium-flip-arguments/test-cases.js
/questions/3243-medium-flattendepth/template.js
/questions/3243-medium-flattendepth/test-cases.js
/questions/3312-easy-parameters/template.js
/questions/3312-easy-parameters/test-cases.js
/questions/3326-medium-bem-style-string/template.js
/questions/3326-medium-bem-style-string/test-cases.js
/questions/3376-medium-inordertraversal/template.js
/questions/3376-medium-inordertraversal/test-cases.js
/questions/4037-hard-ispalindrome/template.js
/questions/4037-hard-ispalindrome/test-cases.js
/questions/4179-medium-flip/template.js
/questions/4179-medium-flip/test-cases.js
/questions/4182-medium-fibonacci-sequence/template.js
/questions/4182-medium-fibonacci-sequence/test-cases.js
/questions/4260-medium-nomiwase/template.js
/questions/4260-medium-nomiwase/test-cases.js
/questions/4425-medium-greater-than/template.js
/questions/4425-medium-greater-than/test-cases.js
/questions/4471-medium-zip/template.js
/questions/4471-medium-zip/test-cases.js
/questions/4484-medium-istuple/template.js
/questions/4484-medium-istuple/test-cases.js
/questions/4499-medium-chunk/template.js
/questions/4499-medium-chunk/test-cases.js
/questions/4518-medium-fill/template.js
/questions/4518-medium-fill/test-cases.js
/questions/4803-medium-trim-right/template.js
/questions/4803-medium-trim-right/test-cases.js
/questions/5117-medium-without/template.js
/questions/5117-medium-without/test-cases.js
/questions/5140-medium-trunc/template.js
/questions/5140-medium-trunc/test-cases.js
/questions/5153-medium-indexof/template.js
/questions/5153-medium-indexof/test-cases.js
/questions/5181-hard-mutable-keys/template.js
/questions/5181-hard-mutable-keys/test-cases.js
/questions/5310-medium-join/template.js
/questions/5310-medium-join/test-cases.js
/questions/5317-medium-lastindexof/template.js
/questions/5317-medium-lastindexof/test-cases.js
/questions/5360-medium-unique/template.js
/questions/5360-medium-unique/test-cases.js
/questions/5423-hard-intersection/template.js
/questions/5423-hard-intersection/test-cases.js
/questions/5821-medium-maptypes/template.js
/questions/5821-medium-maptypes/test-cases.js
.idea/
